* {
    border: 1px dotted black;
}
#menu-all {
    background-color: rgb(24, 24, 90);
}
nav >*    {
    background-color: rgb(24, 24, 90);
    text-decoration: none;
    text-decoration-color: rgb(131, 131, 131);
}

#top-menu > div > a {
    text-decoration: none;
    text-decoration-color: aquamarine;
    color:white;
}
#big-logo {
    justify-content: center;
}
#main-content {
    
}

nav> a:link, nav > a:visited {
    color:white;
    text-decoration: none;

}
 {
    color:white;
    text-decoration: none;
}

main > img {
    width: 100%;
}