* {
    border: 1px dotted black;
    background-color: white;
}
nav >*,nav >*>*,nav >*>*>*,nav >*>*>*>*    {
    background-color: rgb(24, 24, 90);
    text-decoration: none;
    text-decoration-color: rgb(131, 131, 131);
}

#top-menu > div > a {
    text-decoration: none;
    text-decoration-color: aquamarine;
}
#big-logo {
    justify-content: center;
}
#main-content {
    
}